
body {
    background-color: burlywood; 
}

.cabecera {   
    height: 200px;
    display: flex;
    align-items: center;    
    justify-content: center;    
    background-color:bisque;
}

.cabecera h1 {
    margin-left: 2%;
    font-family:'Courier New', Courier, monospace; 
    color:chocolate;
}

.contenido {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;   
}

.imagen {
    height: 400px;    
}

#descripcion {
    margin-top: 20px;
}

#botonVolver {
    margin-top: 20px;
}

.mifooter {
    margin-top: 5%;    
    height: 100px;
    text-align: center;
}